.App {
  text-align: center;
}
body {
background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
background-repeat: no-repeat;
font-family: 'Vibur', cursive;
font-family: 'Abel', sans-serif;
opacity: .95;
}

/******************** Nav ********************/

.nav {
  display: inline;
  margin: 0 15px;
  padding: 10px;
}

.NavLinks {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
  overflow: hidden;
  float:left;
  justify-content: space-between;
  margin: 15px;
  text-transform: uppercase;
}

header nav {
  display: flex;
  justify-content: left;
  align-items: center;
   width: 100%;
  min-height: 60px;
  position: absolute; 
  margin-bottom: 30px;
 width: 100%;
  min-height: 55px;
  padding: 0 5rem;
  top: 0;    
}

header nav a:hover,
a:focus {
  color:#242323;
  border-bottom: 2px solid #242323;
  padding-bottom: 5px;
}

a.NavLinks {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

h3 {
margin-top: 50px;
color: black;
font-size: 50px;
text-align: center;
opacity: 1;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 0.1em;
margin-left: auto;
margin-right: auto;
}



/******************** AUTH FORMS ********************/


form {
  width: 450px;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

form .con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

    margin: 0 auto;
}

/* Login title form  */
header h2 {
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}

header p {
  letter-spacing: 0.05em;
}

.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}

/* inputs auth form  */
input[class="form-input"]{
  width: 200px;
  height: 30px;
  margin-top: 2%;
  padding: 15px;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #5E6472;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear; 
}

input[id="txt-input"] {
  width: 250px;
}

input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

/* input[type="text"]*/
/* buttons  */
button {
  display: inline-block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 10px;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 2% auto;
  letter-spacing: 0.05em;
}

/* Submit */
.submits {
  width: 48%;
  display: inline-block;
  margin-left: 2%;
}

/*       Forgot Password button  */
.frgt-pass {
  background: transparent;
}

/*     Sign Up button  */
.sign-up {
  background: #B8F2E6;
}


/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}


/******************** All Stays ********************/

.staysHeader {
	width:100%;
	height:100%;
	margin: 2rem 0;
	padding:0;
	display:flex;
	font-size:90px;
	font-weight:700;
	flex-flow:row wrap;
	align-content:center;
  justify-content:center;
  z-index: 2;
  letter-spacing: 6px;
  color: transparent;
  text-shadow:8px 0px 0 #aad7e7, 13px 3px 0 black;

}


.stayimg {
  width: 500px;
}


.stayinfothing {
  display: flex;
  flex-direction: column;
  width: 500px;
  /* margin: 50px 50px; */

}

.staything {
  background-color: whitesmoke;
  padding: 40px 80px 40px 80px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: baseline; */
}

.staydescriptionthing {
  padding: 40px;
}

.multiName {
  font-size: 40px;
}

.moreDetails {
  padding: 10px 20px;
	font-size: 30px;
	cursor: pointer;
	position: relative;
	border: 2px solid white;
	outline: none;
	color: black;
	margin: 40px;
  white-space: nowrap;
  padding: 15px;
  background-color: white;
  font-family: 'Brown Bold', sans-serif;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.moreDetails:hover {
background-color: #8ae5e1 ;
}






/******************** Single Stay ********************/
.hostelimage {
  padding-top: 60px;
  width: 100%;
  height: 600px;
  position: relative;
  z-index: -1;
}

.stayh2 {
  color: black;
  font-size: 50px;
  margin: 20px 20px;
}

.leaveReviewButton {
/* color: pink; */
}


/******************** FOOTER ********************/
 
.footer a {
  text-decoration: none;
  color: #666666;
}

.footer {
  color: #666666;
  padding: 10px 50px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.footer p, .footer a {
  font-size: 1.1em;
}

.footer-column {
  width: 30%;
  margin: 0;
  padding: 10px;
}

#footer-hours {
  margin-top: 60px;
}

#footer-socials {
  display: flex;
  justify-content: space-around;
}

#footer-socials img {
  max-width: 60px;
  padding: 10px
}

.socialLogo {
  width: 35px;
  height: 35px;
}



