.App {
  text-align: center;
}
body {
background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
background-attachment: fixed;
background-repeat: no-repeat;

  font-family: 'Vibur', cursive;
/*   the main font */
  font-family: 'Abel', sans-serif;
opacity: .95;
}

html {
  scroll-behavior: smooth;
}
/******************** Nav ********************/

.nav {
  display: inline;
  margin: 0 15px;
  padding: 10px;
}

.NavLinks {
  list-style-type: none; 
  margin: 0; 
  padding: 0;
  overflow: hidden;
  float:left;
  justify-content: space-between;
  margin: 15px;
  text-transform: uppercase;
}

header nav {
  display: flex;
  justify-content: left;
  align-items: center;
   width: 100%;
  min-height: 60px;
  position: absolute; 
  margin-bottom: 30px;
 width: 100%;
  min-height: 55px;
  padding: 0 5rem;
  top: 0;    
}

header nav a:hover,
a:focus {
  color:#242323;
  border-bottom: 2px solid #242323;
  padding-bottom: 5px;
}

a.NavLinks {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

h3 {
margin-top: 50px;
color: black;
font-size: 50px;
text-align: center;
opacity: 1;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 0.1em;
margin-left: auto;
margin-right: auto;
}



/******************** AUTH FORMS ********************/


form {
  width: 450px;
  min-height: 400px;
  height: auto;
  border-radius: 5px;
  margin: 2% auto;
  box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
  padding: 2%;
  background-image: linear-gradient(-225deg, #E3FDF5 50%, #FFE6FA 50%);
}

form .con {
  display: -webkit-flex;
  display: flex;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;

    margin: 0 auto;
}

/* header {
  margin: 2% auto 10% auto;
  text-align: center;
} */
/* Login title form form */
header h2 {
  font-size: 250%;
  font-family: 'Playfair Display', serif;
  color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
header p {letter-spacing: 0.05em;}

.input-item {
  background: #fff;
  color: #333;
  padding: 14.5px 0px 15px 9px;
  border-radius: 5px 0px 0px 5px;
}


/* inputs form  */
input[class="form-input"]{
  width: 200px;
  height: 30px;

  margin-top: 2%;
  padding: 15px;
  
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  color: #5E6472;

  outline: none;
  border: none;

  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
  
}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
button {
  display: inline-block;
  color: #252537;

  width: 280px;
  height: 50px;

  padding: 0 10px;
  background: #fff;
  border-radius: 5px;
  
  outline: none;
  border: none;

  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  
  margin: 2% auto;
  letter-spacing: 0.05em;
}
/* Submits */
.submits {
  width: 48%;
  display: inline-block;
  margin-left: 2%;
}

/*       Forgot Password button  */
.frgt-pass {background: transparent;}

/*     Sign Up button  */
.sign-up {background: #B8F2E6;}


/* buttons hover */
button:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}


.headerimg {
 z-index: -1;
}

/******************** All Stays ********************/

.moreDetails {
  background-color: red;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.moreDetails:hover {
  background-color: #ce0606;
}

.moreDetails:active {
  box-shadow: none;
  top: 5px;
}

.staysHeader {
  color: pink;
}

.staything {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-items: center;
  padding: 50px;
  margin: 50px;  
}

.blogimg {
  width: 330px; 
  height: 330px;
  object-fit: fill;
}

h1 {
  text-align: center;
}



/******************** Single Stay ********************/
.hostelimage {
  padding-top: 60px;
  width: 100%;
  height: 600px;
  position: relative;
  z-index: -1;
}

.stayh2 {
  color: black;
  font-size: 50px;
  margin: 20px 20px;
}

.leaveReviewButton {
color: pink;
}


/******************** FOOTER ********************/


.footer {
  color: #666666;
  padding: 10px 50px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.footer p, .footer a {
  font-size: 1.1em;
}

.footer-column {
  width: 30%;
  margin: 0;
  padding: 10px;
}

#footer-hours {
  margin-top: 60px;
}

#footer-socials {
  display: flex;
  justify-content: space-around;
}

#footer-socials img {
  max-width: 60px;
  padding: 10px
}

.socialLogo {
  width: 35px;
  height: 35px;
}



